---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Accueil</a>
        <a href="/about/">A propos</a>
		<h1>A propos de moi</h1>

        <p>Je suis en train de faire le tutoriel d'Astro.</p>
        <p>J'espere que je vais tout réussir sans problème.</p>
	</body>
</html>
